<?xml version="1.0" encoding="utf-8"?>
<logins status="ok">
<options>
<diigousername></diigousername>
<diigopassword></diigopassword>
<blinklistusername></blinklistusername>
<blinklistpassword></blinklistpassword>
<tumblrusername></tumblrusername>
<tumblrpassword></tumblrpassword>
<twitterusername></twitterusername>
<twitterpassword></twitterpassword>
<misterusername></misterusername>
<misterpassword></misterpassword>
<dzoneusername></dzoneusername>
<dzonepassword></dzonepassword>
<a1username></a1username>
<a1password></a1password>
<urlousername></urlousername>
<urlopassword></urlopassword>
<spotbackusername></spotbackusername>
<spotbackpassword></spotbackpassword>
<bibsonomyusername></bibsonomyusername>
<bibsonomypassword></bibsonomypassword>
<jumptagsusername></jumptagsusername>
<jumptagspassword></jumptagspassword>
<searchlesusername></searchlesusername>
<searchlespassword></searchlespassword>
<quadusername></quadusername>
<quadpassword></quadpassword>
<linkarenausername></linkarenausername>
<linkarenapassword></linkarenapassword>
<gabbrusername></gabbrusername>
<gabbrpassword></gabbrpassword>
<linkagousername></linkagousername>
<linkagopassword></linkagopassword>
<favesusername></favesusername>
<favespassword></favespassword>
<googleusername></googleusername>
<googlepassword></googlepassword>
<delicioususername></delicioususername>
<deliciouspassword></deliciouspassword>
<myspaceusername></myspaceusername>
<myspacepassword></myspacepassword>
<newscolausername></newscolausername>
<newscolapassword></newscolapassword>
<yahoousername></yahoousername>
<yahoopassword></yahoopassword>
<joontzusername></joontzusername>
<joontzpassword></joontzpassword>
<stumbleusername></stumbleusername>
<stumblepassword></stumblepassword>
<filbeusername></filbeusername>
<filbepassword></filbepassword>
<newsbombusername></newsbombusername>
<newsbombpassword></newsbombpassword>
<blurpalicioususername></blurpalicioususername>
<blurpaliciouspassword></blurpaliciouspassword>
<identiusername></identiusername>
<identipassword></identipassword>
<bookmarkindousername></bookmarkindousername>
<bookmarkindopassword></bookmarkindopassword>
<youbloggedusername></youbloggedusername>
<youbloggedpassword></youbloggedpassword>
</options>
</logins>