<?xml version="1.0" encoding="utf-8"?>
<set status="ok">
<settings>
<diigotime>30</diigotime>
<blinklisttime>30</blinklisttime>
<tumblrtime>30</tumblrtime>
<twittertime>30</twittertime>
<mistertime>30</mistertime>
<dzonetime>30</dzonetime>
<a1time>30</a1time>
<urlotime>30</urlotime>
<spotbacktime>30</spotbacktime>
<bibsonomytime>30</bibsonomytime>
<jumptagstime>30</jumptagstime>
<searchlestime>30</searchlestime>
<quadtime>30</quadtime>
<linkarenatime>30</linkarenatime>
<gabbrtime>30</gabbrtime>
<linkagotime>30</linkagotime>
<favestime>30</favestime>
<googletime>30</googletime>
<delicioustime>30</delicioustime>
<myspacetime>30</myspacetime>
<newscolatime>30</newscolatime>
<yahootime>30</yahootime>
<joontztime>30</joontztime>
<stumbletime>30</stumbletime>
<filbetime>30</filbetime>
<newsbombtime>30</newsbombtime>
<blurpalicioustime>30</blurpalicioustime>
<identitime>30</identitime>
<bookmarkindotime>30</bookmarkindotime>
<youbloggedtime>30</youbloggedtime>
<oneviewtime>30</oneviewtime>
<spurltime>30</spurltime>
<referer>http://www.google.com/</referer>
</settings>
</set>